<h1>Christine Lee</h1>

    <section>
      <strong>Lee, Chooi Yee (Christine)</strong><br>
      <em><font size="2">(Updated: 30 January 2015)</font></em><br>
          8, Lorong 6/8A Taman Tasik Tambahan, Ampang, 68000, Selangor, Malaysia<br>
          Email: christinelcy@gmail.com<br>Tel: 03-42873281(Home), 012-8181198(Mobile)
      <br><br><br>
      <article>
          <h1>Resume Summary</h1>
          <p>
          <table border="0" style="width:80%" >
            <tr>
              <td>Current Position</td>
              <td>: System Analyst in United Oversea Bank Sdn. Bhd. (July 2013 - Present)</td> 
            </tr>
            <tr>
              <td>Current Specialization</td>
              <td>: IT/Computer - Software</td> 
            </tr>
            <tr>
              <td>Highest Education</td>
              <td>: Bachelor's Degree in Engineering (Computer/Telecommunication)</td> 
            </tr>
            <tr>
              <td>Years of Experiences</td>
              <td>: 8</td> 
            </tr>
            <tr>
              <td>Expected Salary</td>
              <td>: MYR 6900</td> 
            </tr>
          </table>
          </p>
      </article>
      <article>
          <h1>Employment History</h1>
          <p>
          <strong>1. United Oversea Bank Sdn. Bhd.</strong>
          <br>
          <table border="0" style="width:100%" >
            <tr>
              <td>Position Title (Level)</td>
              <td>: System Analyst (Assistant Vise President)</td> 
            </tr>
            <tr>
              <td>Specialization</td>
              <td>: IT/Computer - Software</td> 
            </tr>
            <tr>
              <td>Role</td>
              <td>: Programmer</td> 
            </tr>
            <tr>
              <td>Industry</td>
              <td>: Banking</td> 
            </tr>
            <tr>
              <td>Monthly Salary</td>
              <td>: MYR 5900</td> 
            </tr>
            <tr>
              <td>Work Description</td>
              <td>:</td> 
            </tr>
            <tr>
              <td></td>
              <td>
                <ol>
                  <li>
                    Daily Support &amp; Enhancement
                     <ul>
                        <li>Statement Application - generate Statement, Advices, Notification and Letter (ISIS Papyrus)</li>
                        <li>Card Track Application – Card Sales Team to check customer card application status, sales report (VB 6 and SQL 2000)</li>
                        <li>Trade Campaign application – Application base on Campaign criteria to calculate trade points for customer (VB 6 and SQL 2000)</li>
                        <li>MRA/MFA, ELR Calculate (Risk Rating Application for Borrowers)</li>
                     </ul>
                  </li>
                  <li>
                    Special Project
                     <ul>
                        <li>Standardization project – MFA and ITSR Application</li>
                        <li>Challenge on MFA, reduce the conversion period from 8 hrs to 4hrs</li>
                        <li>Statement App – Upload files to vendor with winzip with password (temporally solution within 1 week implemented)</li>
                        <li>Statement App - PGP command line file encryption and decryption</li>
                        <li>GST Project – Statement application and CNS application (Reports)</li>
                     </ul>
                  </li>
              </td> 
            </tr>
          </table>
          </p>
          <p>
          <strong>2. IMRD Sdn. Bhd.</strong>
          <br>
          <table border="0" style="width:100%" >
            <tr>
              <td>Position Title (Level)</td>
              <td>: Software Developer (Senior Executive)</td> 
            </tr>
            <tr>
              <td>Specialization</td>
              <td>: IT/Computer - Software</td> 
            </tr>
            <tr>
              <td>Role</td>
              <td>: Software Engineer/Programmer</td> 
            </tr>
            <tr>
              <td>Industry</td>
              <td>: Computer / Information Technology (Software)</td> 
            </tr>
            <tr>
              <td>Monthly Salary</td>
              <td>: MYR 4850</td> 
            </tr>
            <tr>
              <td>Work Description</td>
              <td>:</td> 
            </tr>
            <tr>
              <td></td>
              <td>
                <ul>
                  <li>design &amp; development on terminal program with C language</li>
                  <li>web application with html, java script and asp</li>
                  <li>develop store procedure at Oracle database</li>
                  <li>Done for billing, bill payment, registration, stock block, stock return inward and Analysis modules at TiTus System (value-chain solution for prepaid
    industry)</li>
                  <li>Done for Terminal Management System to support TiTus System for all project.</li>
                </ul>
              </td> 
            </tr>
          </table>
          </p>
      </article>
    </section>

    <strong>3. DMF Techonology MSC Sdn. Bhd.</strong>
</p>
<p>
    Position Title (Level) : Software Developer (Junior Executive)
</p>
<p>
    Specialization : IT/Computer - Software
</p>
<p>
    Role : Software Engineer/Programmer
</p>
<p>
    Industry : Computer / Information Technology (Software)
</p>
<p>
    Monthly Salary : MYR 2500
</p>
<p>
    Work Description :
</p>
<p>
    • Assigned to Materials Requirement Planning (MRP) system project.
</p>
<p>
    • Using VB.net (VS2008) and SQL Server.
</p>
<p>
    • In Charge the Stock Inventory, Bill of Material, Job Scheduling and Issue Production (Calculation Raw Material according the job scheduling).
</p>
<p>
    <strong><u>Educational Background</u></strong>
</p>
<p align="right">
    <em>Graduation Date: 2007</em>
</p>
<p>
    <strong>Bachelor's Degree of Engineering (Computer/Telecommunication)</strong>
</p>
<p>
    Major : Software Engineering
</p>
<p>
    Institute/University : Asia Pacific Institute of Information Technology, Malaysia
</p>
<p>
    Grade : Grade C/2nd Class Lower
</p>
<p align="right">
    <em>Graduation Date: 2005</em>
</p>
<p>
    <strong>Diploma of Engineering (Computer/Telecommunication)</strong>
</p>
<p>
    Major : Software Engineering
</p>
<p>
    Institute/University : Asia Pacific Institute of Information Technology, Malaysia
</p>
<p>
    Grade : Grade C/2nd Class Lower
</p>
<p>
    <strong> Certification</strong>
</p>
<p>
    <strong> </strong>
    Querying Microsoft SQL Server 2012(MS10774)
</p>
<p>
    Developing Microsoft SQL Server 2012 Database (MS10776)
</p>
<p>
    .Net Framework 4, Web Application (2012) – Certification Number E088-9693
</p>
<p>
    UBS Accounting System (2005)
</p>
<p>
    <strong><u>Skills</u></strong>
</p>
<p>
(<strong><u>Proficiency</u>: Advanced - </strong>Highly experienced; <strong>Intermediate - </strong>Familiar with all the basic functionalities;    <strong>Beginner - </strong>Just started using or learning the skill)
</p>
<p>
    <strong>Skill Years Proficiency</strong>
</p>
<p>
    ---------------------------------------------------------------------------------------------------------
</p>
<p>
    JavaScript 5 Intermediate
</p>
<p>
    HTML 5 Intermediate
</p>
<p>
    SQL 4 Intermediate
</p>
<p>
    Visual Basic 4 Intermediate
</p>
<p>
    UML Design 2 Intermediate
</p>
<p>
    VB.NET 2 Intermediate
</p>
<p>
    C Language 1 Intermediate
</p>
<p>
    C++ Language 1 Beginner
</p>
<p>
    Java 1 Beginner
</p>
<u>
    <br clear="all"/>
</u>
<p>
    <u></u>
</p>
<p>
    <strong><u>Languages</u></strong>
    <u></u>
</p>
<p>
    (<strong><u>Proficiency</u></strong>: 0=<strong>Poor</strong> - 10=<strong>Excellent</strong>)
</p>
<p>
    <strong>Language Spoken Written</strong>
</p>
<p>
    -------------------------------------------------------------------------------------
</p>
<p>
    Chinese 5 5
</p>
<p>
    English 3 3
</p>
<p>
    Bahasa Malaysia 2 2
</p>
<p>
    <u></u>
</p>
<p>
    <u></u>
</p>
<p>
    <strong><u>Personal Particulars &amp; Preferences</u></strong>
</p>
<p>
    Date of Birth : 8 Jan 1985
</p>
<p>
    Nationality : Malaysia
</p>
<p>
    Gender : Female
</p>
<p>
    IC No. : 850108-14-5780
</p>
<p>
    Possess Own Transport : Yes
</p>
<p>
    Expected Monthly Salary : MYR 6900
</p>
<p>
    Availability : Immediately after notice period of 1 month(s)
</p>
<p>
    <strong></strong>
</p>
<p>
    <strong></strong>
</p>
<p>
    <strong><u>References</u></strong>
    <u></u>
</p>
<p>
    Name : Mr Lee Chee Kong
</p>
<p>
    Relationship : Superior
</p>
<p>
    Position : Project Leader
</p>
<p>
    Company : DMF Technology MCS Sdn. Bhd.
</p>
<p>
    Telephone : 012-3256765
</p>
<p>
    Email : ck_kelvinlee@yahoo.com
</p>
<p>
    Name : Mr Louis Tan
</p>
<p>
    Relationship : Superior
</p>
<p>
    Position : Manager
</p>
<p>
    Company : IMRD Sdn. Bhd.
</p>
<p>
    Telephone : 79581010
</p>
<p>
    Email : louis.tan@dcb.com.my
</p>
<p>
    Name : Mr David Looi
</p>
<p>
    Relationship : Superior
</p>
<p>
    Position : Team Leader
</p>
<p>
    Company : IMRD Sdn. Bhd.
</p>
<p>
    Telephone : 012-236 5682
</p>
<p>
    Email : davelooi@gmail.com
</p>
<p>
    Name : Ms Chang Chin Hung
</p>
<p>
    Relationship : Superior
</p>
<p>
    Position : Vise President
</p>
<p>
    Company : United Oversea Band Sdn. Bhd.
</p>
<p>
    Telephone : 012-451 1341
</p>
<p>
    Email : changchinhung@gmail.com
</p>


